*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.app{
    height: 100vh;
    width: 100%;
    background:linear-gradient(rgba(48, 47, 47, 0.596),rgba(8, 8, 8, 0.507),rgba(27, 26, 26, 0.466)), url('./Frontend/Components/images/charles-gaudreault-xXofYCc3hqc-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
   overflow-x: hidden;
    
}